



<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<html ng-app="baseconeFe" ng-controller="menuHorizontalCtrl">
<head>
    <meta http-equiv="X-UA-Compatible">
    <title>Basecone</title>
    <link rel=" shortcut icon" media="all" type="image/x-icon" href="/Content/themes/Twinscans/images/favicon.png" />
    <link rel="apple-touch-icon" href="/Content/themes/Twinscans/images/favicon.png" />
    <link rel="apple-touch-icon-precomposed" href="/Content/themes/Twinscans/images/favicon.png">
    <!--START GULP INJECT:CSS-->
<link href="/build/styles/twinscans.min-d2014923a085ce77482bc13aef04f415.css" rel="stylesheet">
<link href="/build/styles/newFrontend.min-c4e831e42d3628b6e47a846133430f4a.css" rel="stylesheet">
<link href="/build/styles/bamboo.min-3b51ece1a4aa44d6b81c104123a50ab6.css" rel="stylesheet">
<link href="/build/styles/basecone-components.min-4b11f4c429f5d2088a91cb67557888aa.css" rel="stylesheet">
<!--END GULP INJECT:CSS-->
    <!--START GULP INJECT:JS-->
<script src="/build/scripts/vendor.min-81a7a05ecc0cccfa543a94570a3a46e8.js" nonce="xsy2qIdfz/2pf5w9asE+bd535/eOfIZfHvJ0/z5KDvc="></script>
<script src="/build/scripts/custom.min-84c124783d329d1fd0889fc3ae4d5d2e.js" nonce="xsy2qIdfz/2pf5w9asE+bd535/eOfIZfHvJ0/z5KDvc="></script>
<!--END GULP INJECT:JS-->
    
<script type="text/javascript" nonce="xsy2qIdfz/2pf5w9asE+bd535/eOfIZfHvJ0/z5KDvc=">
    window.translationStore = {
            'label-home': 'Home',
            'label-uploadandtag': 'Upload \u0026 tag',
            'label-workloadmatrix': 'Workload matrix',
            'label-archive': 'Archive',
            'exportsubscriptions': 'Export subscription',
            'label-basedata': 'Synchronisation',
            'navigationbulkvalidation': 'Validation overview',
            'label-authorizationoverview': 'Authorisation overview',
            'label-authorization': 'Authorisation',
            'label-authorisationrejectbox': 'Reject box',
            'label-mailimports': 'Emails',
            'label-recognitionrates': 'Recognition rates',
            'label-createinvoices': 'Create invoices',
            'label-authorizationoverview': 'Authorisation overview',
            'expiringtrialsubscriptions': 'Expiring trial subscriptions',
            'label-settings': 'Settings',
            'label-logout': 'Log out',
            'label-spineactivatoraria': 'Open menu',
            'label-togglespinebutton': 'Open menu',
            'label-closespinebutton': 'Close menu',
            'label-homelink': 'Home link',
            'label-wklogoimg': 'Wolters Kluwer logo',
            'label-officelogoimg': 'Office logo',
            'label-baseconelogo': 'Basecone logo',
            'subscriptionupdatebutton': 'Upgrade',
            'label-companyswitcherheader': 'Open company switcher list',
            'label-companyswitcherallcompanies': 'All Companies',
            'label-fishbowl': 'Open account settings',
            'label-companyswitcherselectedcompanysection': 'Selected company',
            'label-companyswitchercompaniessection': 'Companies',
            'label-companyswitchersearchplaceholder': 'Search for a company',
            'label-companyswitchersearchinputaria': 'Clear search phrase',
            'label-companyswitchersubmitsearchinputaria': 'Submit search for a company',
            'label-smokebreakclosearia': 'Close dialog, press escape or click to close dialog',
            'label-fishbowl': 'Open account settings',
            'label-userinfoaccountsection': 'Account',
            'label-userinfologoutlink': 'Log out',
            'label-userinfousersettings': 'User settings',
            'label-userinfosupportsection': 'Support',
            'message-userinfohelp': 'Need any help? You can easily reach us by using intercom. You can recognize intercom by the blue icon in the left navigation bar.',
            'label-userinfosupportemaillink': 'Email',
            'label-userinfopincode': 'Your unique PIN-code is: ',
            'message-userinfosupport': 'Visit our knowledge base for more information on support',
            'label-userinfomoresupportlink': 'More support',
            'link-userinfomoresupporturl': 'https://support.basecone.com/en/articles/663252-contact-basecone',
            'legendautomation': 'Automation',
            'label-insights': 'Insights',
            'label-settingsoffice': 'Office',
            'label-settingscompanies': 'Companies',
            'label-settingsusers': 'User management',
            'label-financialinsights': 'Financial insights',
            'lbladministrations': 'Administrations',
            'lblselectedadministrations': 'Selected administrations',
            'lblnoadministrationsselected': 'No administrations selected',
            'lblselectadministrations': 'Select administrations',
            'lblsearchanadministration': 'Search an administration',
            'lbllowercaseadministration': 'administrations',
            'msgnoadministration': 'No administrations available.',
            'lblnosearchresult': 'Your search did not produce any results.',
            'lblclearsearch': 'Clear search',
            'lbladdadministration': 'Add administration',
            'lblmanageadministrations': 'Manage administrations',
            'lblalladministrations': 'All administrations',
    };
</script>


    <script type="text/javascript" nonce="xsy2qIdfz/2pf5w9asE+bd535/eOfIZfHvJ0/z5KDvc=">

            window.frontEndBasePath = '/frontend';
            window.baseconeSupportEmailAddressGlobal = 'basecone.support@wolterskluwer.com';
            window.baseconeSupportEmailAddressUK = 'basecone.support.uk@wolterskluwer.com';

            window.onerror = function(message, url, lineNumber) {

                $.post('/Error/JavascriptError', {
                    message: message,
                    url: url,
                    lineNumber: lineNumber,
                    currentLocation: window.location.href
                });

                return false;
            };

            $(document).ready(function() {

                Globalize.culture("en-GB");

                setInterval(function () {
                        if (Globalize.culture().name !== 'en-GB') {
                            window.onerror('Culture is not correctly set in browser it is: ' + Globalize.culture().name + ' and should be "en-GB", correcting it');
                            Globalize.culture("en-GB");
                        }
                    },
                    1000
                );

                $.datepicker.setDefaults($.datepicker.regional[Globalize.culture().name]);

                new NotificationsPoller({ pollUrl: '/api/notifications' }).startPolling();

                if('False' === 'True') {
                    var sheet = document.createElement('style')
                    sheet.innerHTML = ".wk-smoke-break .wk-smoke-break-content.wk-smoke-break-right { width:27.5rem;}";
                    document.body.appendChild(sheet);
                }
                
            });

            $.validator.setDefaults({
                onfocusout: function (element) {
                    $(element).valid();
                },
                onkeyup: function (element) {
                    $(element).valid();
                },
                ignore: []
            });

            var rootPath = "/";

    </script>
    
    <script type="text/javascript" >

        $(function () {
            $("body").click(function (e) {
                if (e.target.id == "btnOpenClose" || $(e.target).parents("#btnwrapper").length) {
                    if ($('#opendrp').val() == 'yes') {
                        openCloseDropDown(true);
                    }
                    else {
                        openCloseDropDown(false);
                    }
                } else {
                    openCloseDropDown(false);
                }
            });
        })

        $(document).on('click', '#btnUserSettings', function () {
            window.location.href = '/frontend/settings/users/user/5860e2b0-5675-46ec-a42c-ca62e44f89d4/details';
        });
        $(document).on('click', '#btnLogout', function () {
            window.location.href = '/Logout/Logout';
        });

        function navigateToLogin(orgUnitId) {
            if(orgUnitId != '') {
                sessionStorage.clear();
                window.location.href = '/login/wk/org/'.concat(orgUnitId).concat('?page=workload-matrix');
            }
        }

        function navigateByLogoUrl() {
            if ('False' === 'False') {
                window.location.href = '/document/index';
            } 
            else {
                window.location.href = '/frontend' + '/upload-and-tag';
            }
        }

        function openCloseDropDown(isOpen){
            if(isOpen){
                $("#dvDropdown").addClass("wk-is-open");
                $("#btnSpan").addClass("wk-icon-chevron-up");
                $("#btnSpan").removeClass("wk-icon-chevron-down");
                $('#opendrp').val('no');
            }
            else {
                $("#dvDropdown").removeClass("wk-is-open");
                $("#btnSpan").addClass("wk-icon-chevron-down");
                $("#btnSpan").removeClass("wk-icon-chevron-up");
                $('#opendrp').val('yes');
            }
        }
    </script>

<!-- Hotjar Tracking Code -->
<script nonce="xsy2qIdfz/2pf5w9asE+bd535/eOfIZfHvJ0/z5KDvc=">
    (function (h, o, t, j, a, r) {
        h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
        h._hjSettings = { hjid: 2702182, hjsv: 6 };
        a = o.getElementsByTagName('head')[0];
        r = o.createElement('script'); r.async = 1;
        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
        a.appendChild(r);
    })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
</script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src='https://www.googletagmanager.com/gtag/js?id=UA-145008668-1' nonce="xsy2qIdfz/2pf5w9asE+bd535/eOfIZfHvJ0/z5KDvc="></script>
    <script nonce="xsy2qIdfz/2pf5w9asE+bd535/eOfIZfHvJ0/z5KDvc=">
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-145008668-1', {
        page_path: location.pathname + location.hash
    });
    </script>    
    
    
<!--START GULP INJECT:JS-->
<script src="/build/scripts/silent-signin-oidc.min-90c6517231deccc00f1cb8019a5c5783.js" nonce="xsy2qIdfz/2pf5w9asE+bd535/eOfIZfHvJ0/z5KDvc="></script>
<!--END GULP INJECT:JS-->
<script type="text/javascript" nonce="xsy2qIdfz/2pf5w9asE+bd535/eOfIZfHvJ0/z5KDvc=">
    $(function () {
        startDocumentConverterOidcSilentSignIn({
            isAAA: false,
            clientId: '3c3711e5-9223-409e-be07-f11b7b0764a3',
            authority: 'https://identity.basecone.com/authentication/',
            scope: 'openid all_claims',
            oidcLogLevel: 'ERROR',
            userUniqueId: '5860e2b0-5675-46ec-a42c-ca62e44f89d4',
            serverTime: 'https://identity.basecone.com/api/v1/authentication/servertime'
        });
    });
</script>    
</head>

<body ng-class="resellerClass">
    <input id="opendrp" name="opendrp" type="hidden" value="yes" />
    <div id="flashMessages"></div>
    
        <bc-header-wc ng-show="showHeader">
        <div  slot="company-switcher">
            <bc-company-switcher-header ng-click="openCompanySwitcherPanel()" ng-show="showCompanySwitcher" ng-if="true"></bc-company-switcher-header>
        </div>
            <bc-fish-bowl slot="fish-bowl" ng-click="openUserInfo()" ng-show="user"></bc-fish-bowl>
        </bc-header-wc>

    <wk-smoke-break id="companySwitcherPanel" position="right">
        
        <div slot="body" >
                <bc-company-switcher-menu ng-if="companyPanelOpened" disable-companies-items></bc-company-switcher-menu>
        </div>
    </wk-smoke-break>
    <wk-smoke-break id="userInfoSmokeBreak" position="right">
            <bc-user-info-menu slot="body"></bc-user-info-menu>
    </wk-smoke-break>
    <div class="menu-vertical" ng-controller="menuVerticalCtrl" >
        <wk-spine ng-class="{'bc-spine-dark': isDarkSpine}"></wk-spine>
    </div>
    <div id="container">
        <section>
            

<!--START GULP INJECT:CSS-->
<link href="/build/styles/select2.min-6f9e8d704dc7f6e001fcc5a8665b3177.css" rel="stylesheet">
<link href="/build/styles/archive.min-da35dd6db7b866cc4d41402b11d989c2.css" rel="stylesheet">
<!--END GULP INJECT:CSS-->
<!--START GULP INJECT:JS-EN-->
<script src="/build/scripts/grid-locale-en.min-9e242195ae92fe132c276002373a06a5.js" nonce="xsy2qIdfz/2pf5w9asE+bd535/eOfIZfHvJ0/z5KDvc="></script>
<script src="/build/scripts/select2-locale-en.min-33e3d8e40103e0077bb775864078cd71.js" nonce="xsy2qIdfz/2pf5w9asE+bd535/eOfIZfHvJ0/z5KDvc="></script>
<!--END GULP INJECT:JS-EN-->



<script type="text/javascript" nonce="xsy2qIdfz/2pf5w9asE+bd535/eOfIZfHvJ0/z5KDvc=">
    // disable validation onkeyup validates to fast
    $.validator.setDefaults({
        onkeyup: false,
        ignore: []
    });
</script>

<div class="grid-header">
    <div id="archive-header-actions" class="header-actions">
        <span id="non-link-controls">
            <span class="custom-header-button" id="DownloadButton" style="display: none;">
                <button class="btn btn-mini">
                    Download
                </button>
            </span>
            <span class="custom-header-button" id="UntagButton" style="display: none;">
                <button class="btn btn-mini">
                    Remove tag
                </button>
            </span>
            <span class="custom-header-button" id="AbandonButton" style="display: none;">
                <button class="btn btn-mini">
                    Abandon
                </button>
            </span>
        </span>

        <div class="custom-header-button" id="LinkButton" style="display: none;">
            <button class="btn btn-mini">
                Document link
            </button>
        </div>

        <span id="link-controls" style="display: none;">
            <span class="custom-header-button">
                <input id="LinkInput" readonly style="width:300px;padding-left:5px" type="text" />
                <i id="LinkLockIcon" class="fa fa-lock"></i>
            </span>
            <span class="custom-header-button" id="GenerateLinkButton">
                <button class="btn btn-mini">
                    Generate link
                </button>
            </span>
            <span class="custom-header-button" id="CopyLinkButton" data-urlprefix="https://secure.basecone.com/lookup/index?guid=">
                <button id="btnLinkClip" class="btn btn-mini" data-clipboard-text="https://secure.basecone.com/lookup/index?guid=">
                    Copy link
                </button>
            </span>
            <span class="custom-header-button" id="CopyIdButton">
                <button id="btnIdClip" class="btn btn-mini" data-clipboard-target="#LinkInput">
                    Copy id
                </button>
            </span>
        </span>
    </div>
</div>

<div class="grid-container">
    <div class="search-sidebar">
        <div class="search-sidebar-top viewarchive">
            <div>
                <label>Company</label>
                <div>
                    <select id="Company" name="Company">
                                <option value="bb796c87-696c-4900-ac90-95eb48b7d163" data-language="NL" data-accounting-system-type="Twinfield" selected="selected">
                                    Bright side services (BRIGHT)
                                </option>
                    </select>
                </div>
            </div>
            <div>
                <button class="btn btn-mini" id="ResetSearchCriteria">Reset search criteria</button>
                <button class="btn btn-mini" id="Search">Refresh</button>
            </div>
        </div>
        <div class="search-sidebar-scroll">
            <div class="search-sidebar-scroll-container">
                <form>
                    <div>
                        <label>Document status</label>
                        <div>
                            <select id="DocumentStatuses" name="DocumentStatuses" multiple="multiple">
                                        <option value="Uploaded">Uploaded</option>
                                        <option value="Split">Split</option>
                                        <option value="Merged">Merged</option>
                                        <option value="Tagged">Tagged</option>
                                        <option value="Authorized">Authorised</option>
                                        <option value="AuthorizedAfterBooking">Authorized after booking</option>
                                        <option value="RejectedAfterBooking">Rejected after booking</option>
                                        <option value="Booked">Booked</option>
                                        <option value="BookedByThirdParty">Booked by third party</option>
                                        <option value="Processed">Processed</option>
                                        <option value="Abandoned">Abandoned</option>
                                        <option value="Converted">Converted</option>
                                        <option value="Exposed">Link generated</option>
                                        <option value="AutomationPending">Processing</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <label>File name</label>
                        <div>
                            <input id="FileName" type="text" value="" placeholder="File name" />
                        </div>
                    </div>
                    <div>
                        <label>Description</label>
                        <div>
                            <input id="Description" type="text" value="" placeholder="Description" />
                        </div>
                    </div>
                    <div>
                        <label>Date modified</label>
                        <div>
                            <input id="DateModifiedFrom" name="DateModifiedFrom" class="date" type="text" value="" data-val="true" data-val-date="Date is not valid" placeholder="From" />
                            <span class="field-validation-valid" data-valmsg-for="DateModifiedFrom" data-valmsg-replace="true" style="margin-top: -35px; margin-left: 250px;"></span>
                            <input id="DateModifiedUntil" name="DateModifiedUntil" class="date" type="text" value="" data-val="true" data-val-date="Date is not valid" placeholder="Until" />
                            <span class="field-validation-valid" data-valmsg-for="DateModifiedUntil" data-valmsg-replace="true" style="margin-top: -35px; margin-left: 250px;"></span>
                        </div>
                    </div>
                    <div>
                        <label>Tag</label>
                        <div>
                            <select id="Tags" name="Tags" multiple="multiple">
                                    <option value="CASH" data-language="NL" disabled="disabled">KAS</option>
                                    <option value="CASH" data-language="EN" disabled="disabled">CASH</option>
                                    <option value="CASH" data-language="DE" disabled="disabled">KAS</option>
                                    <option value="CASH" data-language="FR" disabled="disabled">KAS</option>
                                    <option value="CASH" data-language="DA" disabled="disabled">TBD</option>
                                    <option value="JNL" data-language="NL" disabled="disabled">MEMO</option>
                                    <option value="JNL" data-language="EN" disabled="disabled">JNL</option>
                                    <option value="JNL" data-language="DE" disabled="disabled">MEMO</option>
                                    <option value="JNL" data-language="FR" disabled="disabled">MEMO</option>
                                    <option value="JNL" data-language="DA" disabled="disabled">TBD</option>
                                    <option value="PNV" data-language="NL" disabled="disabled">INK</option>
                                    <option value="PNV" data-language="EN" disabled="disabled">PNV</option>
                                    <option value="PNV" data-language="DE" disabled="disabled">ER</option>
                                    <option value="PNV" data-language="FR" disabled="disabled">PNV</option>
                                    <option value="PNV" data-language="DA" disabled="disabled">TBD</option>
                                    <option value="SLS" data-language="NL" disabled="disabled">VRK</option>
                                    <option value="SLS" data-language="EN" disabled="disabled">SLS</option>
                                    <option value="SLS" data-language="DE" disabled="disabled">VRK</option>
                                    <option value="SLS" data-language="FR" disabled="disabled">VRK</option>
                                    <option value="SLS" data-language="DA" disabled="disabled">TBD</option>
                                    <option value="BNK" data-language="NL" disabled="disabled">BANK</option>
                                    <option value="BNK" data-language="EN" disabled="disabled">BNK</option>
                                    <option value="BNK" data-language="DE" disabled="disabled">BANK</option>
                                    <option value="BNK" data-language="FR" disabled="disabled">BANK</option>
                                    <option value="BNK" data-language="DA" disabled="disabled">TBD</option>
                                    <option value="CUST" data-language="NL" disabled="disabled">CUST</option>
                                    <option value="CUST" data-language="EN" disabled="disabled">CUST</option>
                                    <option value="CUST" data-language="DE" disabled="disabled">CUST</option>
                                    <option value="CUST" data-language="FR" disabled="disabled">CUST</option>
                                    <option value="CUST" data-language="DA" disabled="disabled">TBD</option>
                            </select>
                        </div>
                    </div>


                    <div>
                        <label>Supplier</label>
                        <div>
                            <input type="hidden" id="Suppliers" name="Suppliers" />
                        </div>
                        <div style="width: 100%">
                            <label style="padding-left: 0; padding-top:0">
                                <input id="SuppliersShowDeleted" type="checkbox" style="cursor: pointer;width: auto; vertical-align: bottom" />
                                Show deleted
                            </label>
                        </div>
                    </div>
                    <div>
                        <label>Customer</label>
                        <div>
                            <input type="hidden" id="Customers" name="Customers" />
                        </div>
                    </div>
                    <div>
                        <label>Authorised</label>
                        <div>
                            <input type="hidden" id="Authorizers" name="Authorizers" placeholder="Authorised"/>
                        </div>
                    </div>
                    <div>
                        <label>Booked by</label>
                        <div>
                            <input type="hidden" id="Accountants" name="Accountants" placeholder="Booked by"/>
                        </div>
                    </div>
                    <div>
                        <label>Booking number</label>
                        <div>
                            <input id="BookingNumber" type="text" value="" placeholder="Booking number" />
                        </div>
                    </div>
                    <div>
                        <label>Invoice date</label>
                        <div>
                            <input id="InvoiceDateFrom" name="InvoiceDateFrom" class="date" type="text" value="" data-val="true" data-val-date="Date is not valid" placeholder="From" />
                            <span class="field-validation-valid" data-valmsg-for="InvoiceDateFrom" data-valmsg-replace="true" style="margin-top: -35px; margin-left: 250px;"></span>
                            <input id="InvoiceDateUntil" name="InvoiceDateUntil" class="date" type="text" value="" data-val="true" data-val-date="Date is not valid" placeholder="Until" />
                            <span class="field-validation-valid" data-valmsg-for="InvoiceDateUntil" data-valmsg-replace="true" style="margin-top: -35px; margin-left: 250px;"></span>
                        </div>
                    </div>
                    <div>
                        <label>Invoice number</label>
                        <div>
                            <input id="InvoiceNumber" type="text" value="" placeholder="Invoice number" />
                        </div>
                    </div>
                    <div id="purchase-ordernumber-for-booking-field">
                        <label>Purchase order</label>
                        <div>
                            <input id="PurchaseOrderNumber" type="text" value="" placeholder="Purchase order" />
                        </div>
                    </div>
                    <div>
                        <label>Total amount</label>
                        <div>
                            <input name="TotalAmountFromString" id="TotalAmountFromString" class="date" type="text" value="" placeholder="From" />
                            <input name="TotalAmountUntilString" id="TotalAmountUntilString" class="date" type="text" value="" placeholder="Until" />
                        </div>
                    </div>
                    <div>
                        <label>Account code</label>
                        <div>
                            <input id="AccountCodes" type="text" value="" placeholder="Account code" />
                        </div>
                    </div>
                    <div>
                        <label id="company-costcenters-label">Cost centre</label>
                        <div>
                            <input id="CostCentres" type="text" value="" placeholder="Cost centre" />
                        </div>
                    </div>
                    <div>
                        <label id="company-projects-label">Project</label>
                        <div>
                            <input id="Projects" type="text" value="" placeholder="Project" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="grid-content">
        <script type="text/javascript">
jQuery(document).ready(function () {
jQuery('#ArchiveGrid').jqGrid({
altRows:true,
altclass:'grid-alt',
autoencode:true,
autowidth:true,
datatype:'json',
jsonReader:{'repeatitems':false, 'id': 'DocumentId' },
emptyrecords:'No results found',
mtype:'post',
rowList:[15,30,50,100,200],
rowNum:50,
scroll:1,
sortname:'DateModified',
shrinkToFit:false,
sortorder:'desc',
url:'/archive/GridData',
afterInsertRow: function(rowid, rowdata, rowelem) {archiveController.afterRowInsert(this, rowid, rowdata, rowelem)},
beforeRequest: function() {archiveController.onBeforeRequest()},
loadComplete: function(xhr) {archiveController.loadComplete(this)},
colModel: [
{
name:'SelectDocument',
fixed:true,
formatter:'checkbox', formatoptions: {disabled: false},
label:'&nbsp;',
resizable:false,
search:false,
sortable:false,
width:36,
index:'SelectDocument'
},{
align:'center',
name:'VisibleDocumentStatus',
fixed:true,
formatter:archiveController.formatVisibleDocumentStatus,
label:'Status',
sortable:false,
width:50,
index:'VisibleDocumentStatus'
},{
name:'DocumentNameForDisplay',
formatter:archiveController.formatDocumentNameTooltip,
label:'File name',
title:false,
width:240,
index:'DocumentNameForDisplay'
},{
align:'center',
name:'DateModified',
fixed:true,
formatter:'date',
label:'Date modified',
width:150,
index:'DateModified'
},{
align:'left',
name:'TypeTagValue',
formatter:archiveController.formatTag,
label:'Tag',
width:90,
index:'TypeTagValue'
},{
name:'SupplierCustomer',
label:'Supplier/Customer',
width:160,
index:'SupplierCustomer'
},{
align:'center',
name:'InvoiceDate',
fixed:true,
formatter:'date', formatoptions: {newformat: 'ISO8601Short'},
label:'Invoice date',
width:90,
index:'InvoiceDate'
},{
name:'InvoiceNumber',
fixed:true,
label:'Invoice number',
width:130,
index:'InvoiceNumber'
},{
align:'right',
name:'TotalAmount',
label:'Total amount',
width:120,
index:'TotalAmount'
},{
align:'right',
name:'Authorizators',
fixed:true,
formatter:function() { return archiveController.formatAuthorizators.call(archiveController, arguments[0], arguments[1], arguments[2]); },
label:'Authorisers',
title:false,
width:130,
index:'Authorizators'
},{
align:'right',
name:'BookingNumber',
label:'Booking number',
width:145,
index:'BookingNumber'
},{
name:'IsUntaggable',
hidden:true,
index:'IsUntaggable'
},{
name:'IsAbandonable',
hidden:true,
index:'IsAbandonable'
},{
name:'IsDownloadable',
hidden:true,
index:'IsDownloadable'
},{
name:'IsLinkable',
hidden:true,
index:'IsLinkable'
},{
name:'IsAlreadyLinked',
hidden:true,
index:'IsAlreadyLinked'
},{
name:'LookupIdentifier',
hidden:true,
index:'LookupIdentifier'
}
]
});
});
</script>
<table id="ArchiveGrid"></table>
    </div>
</div>

<script type="text/html" id="untag-view">
    <div id="popupMain">
    <div id="popupHeader" >
        <span style="font-size: 15px">Remove tag</span>
    </div>

    <br />
    
    <div>
        Are you sure you want to remove the tag of the selected document(s)?
    </div>

    <br />
    <br />

    <div style="float:right">
        <button class="btn btn-mini" id="untag-document-cancel-button">
            Cancel
        </button>
        <button class="btn btn-mini" id="untag-document-untag-button">
            OK
        </button>
    </div>
</div>
</script>

<script type="text/html" id="process-untag-view">
    <div id="popupMain" style="width: 500px">
    <div id="popupHeader" >
        <span style="font-size: 15px">Remove tag</span>
    </div>

    <br />
    
    <div id="ProcessingTag-Confirm">
        Removing tag... <img src="/Content/themes/Twinscans/images/ajax-loader.gif"/>
    </div>
    
    <br />
    <br />
</div>
</script>

<script type="text/html" id="abandon-view">
    <div id="popupMain">
    <div id="popupHeader" >
        <span style="font-size: 15px">Abandon document</span>
    </div>

    <br />
    
    <div id="abandon-document-message">
        <div style="white-space: nowrap">
            Do you want to abandon the selected document(s)?
        </div>

        <br />
        
        <form id="abandon-document-form">
            <label for="reason-text">Reason: </label>
            <br />                        
            <input type="text"
                   id="reason-text"
                   name="reason-text"
                   class="FormElement"
                   data-val="true"
                   data-val-required="Field is required"
                />
            <span
                class="field-validation-valid"
                data-valmsg-for="reason-text"
                data-valmsg-replace="true"></span>
        </form>

        <br />
        <br />

        <div style="float:right">
            <button class="btn btn-mini" id="abandon-document-confirm-button">
                Yes
            </button>
            <button class="btn btn-mini" id="abandon-document-cancel-button">
                No
            </button>
        </div>
    </div>
    
     <div id="abandon-document-loader" style="display: none">
        Abandon document(s)... <img src="/Content/themes/Twinscans/images/ajax-loader.gif"/>
    </div>
</div>
</script>

<script type="text/html" id="process-abandon-view">
    <div id="popupMain" style="width: 500px">
    
    <div id="popupHeader">
        <span style="font-size: 15px">Abandon document(s)</span>
    </div>

    <br />

    <div id="ProcessingTag-Confirm">
        Abandon document(s)...
        <img src="/Content/themes/Twinscans/images/ajax-loader.gif" />
    </div>

    <br />
    <br />
</div>

</script>

<script type="text/javascript" nonce="xsy2qIdfz/2pf5w9asE+bd535/eOfIZfHvJ0/z5KDvc=">
    var options = {
        translations: {
            documentStatus: `Document status`,
            tag: `Tag`,
            customTag: `Custom tag`,
            supplier: `Supplier`,
            customer: `Customer`,
            authorized: `Authorised`,
            bookedBy: `Booked by`,
            noResultsFound: `No results found`,
            accountCode: `Account code`,
            costCentre: `Cost centre`,
            project: `Project`,
            authorizators: `Authorisers`,
            succesfullyUntagged: `Tag successfully removed`,
            succesfullyLinked: `Generated link for document`,
            succesfullyCopiedToClipboard:  `Copied to clipboard`,
            failedToUntag: `Failed to remove tag`,
            failedToLink: `Failed to create a link for this document`,
            untag: `Untag`,
            labelBack: `Back`,
            labelLink: `Document link`,
            succesfullyAbandoned: `Documents(s) deleted succesfully`,
            failedToAbandon: `Failed to abandon document(s)`,
            before: `Before:`,
            after: `After:`
    },
        urls: {
        viewDocument: '/Document/View',
        gridData: '/archive/GridData',
        suppliers: '/archive/Suppliers',
        customers: '/archive/Customers',
        users: '/archive/Users',
        accountCodes: '/archive/AccountCodes',
        costCentres: '/archive/CostCentres',
        projects: '/archive/Projects',
        authorizators: '/archive/Authorizators',
        accountants: '/archive/Accountants',
        untagDocuments: '/Archive/Untag',
        abandonDocuments: '/Archive/Abandon',
        downloadDocuments: '/Archive/Download',
        linkDocument: '/Archive/Link',
        selectedCompany: '/Archive/SelectedCompany'
        },
    options: {
            downloadLimit: 50,
            purchaseOrderNumberEnabled: false,
            hasActiveApiClientSubscriptions: false
            },
    templates: {
            untag: $('#untag-view').html(),
            proccessUntag: $('#process-untag-view').html(),
            abandon: $('#abandon-view').html(),
            processAbandon: $('#process-abandon-view').html()
    }
    };

    var archiveController = new ArchiveController(options);
    var clippy = new Clipboard('.btn');

</script>
        </section>
        <div class="push">
        </div>
    </div>


    <input id="hdnDateFormat" name="hdnDateFormat" type="hidden" value="dd/MM/yyyy" />
    <input id="hdnLocalName" name="hdnLocalName" type="hidden" value="Infrastructure.CultureService.CultureService" />

    <script type="text/javascript" nonce="xsy2qIdfz/2pf5w9asE+bd535/eOfIZfHvJ0/z5KDvc=">
        IntercomMessenger.init({appId: 'jc1nhv3o',
            userUniqueId: '5860e2b0-5675-46ec-a42c-ca62e44f89d4',
            enabled: 'True' === 'True',
            identityVerificationHash: 'b6dce5fbc413ddba2c28277ab0dac0b919df8098d4c9bf08fe92c5d379b1e0fc'});
    </script>
    <!--Bamboo js should go before body closing tag -->
<!--START GULP INJECT:JS1-->
<script src="/build/scripts/bamboo.min-9646463581f221e6cdb6a2a8037f4147.js" nonce="xsy2qIdfz/2pf5w9asE+bd535/eOfIZfHvJ0/z5KDvc="></script>
<script src="/build/scripts/basecone-components.min-2c2e094e5dc9f6625ee55a5aa808adde.js" nonce="xsy2qIdfz/2pf5w9asE+bd535/eOfIZfHvJ0/z5KDvc="></script>
<!--END GULP INJECT:JS1-->
</body>
</html>
